<!DOCTYPE html>
<html>
    <head>
        <title>To-Do App</title>
    </head>
    <body>

        <% if(todayIsDay=="Saturday"||todayIsDay=="Sunday"){ %>
            <h1 style="color: yellow;"><%= todayIsDay %> List</h1>
        <% }
        else{ %>
            <h1 style="color: blue;"><%= todayIsDay %> List</h1>
        <% } %>
        
    </body>
</html>