body{
    background-color: cyan;
}



body{
    margin: 0;
    text-align: center;
}
h1{
    width: 15%;
    margin: 0 auto 0 auto;
}


.top-container{
    background-color: #ff165d;
   
    
}

.middle-container{
    background-color: #ff9a00;
}

.bottom-container{
    background-color: #111d5e;
   
}


.pro{
    text-decoration: underline;
}