body{
    background-color: cyan;
}



body{
    margin: 0;
    text-align: center;
}
h1{
    margin: 0 
}


.top-container{
    background-color: #ff165d;
    position: relative;
    padding-top: 100px;
   
    
}

.middle-container{
    background-color: #ff9a00;
}

.bottom-container{
    background-color: #111d5e;
   
}


.pro{
    text-decoration: underline;
}


.top-cloud{
    position: absolute;
    top:50px;
    right:300px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}